<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="system/common/include :: header('部门添加')" />
</head>

<body>
    <div class="z-body animated fadeIn">
        <form action="" method="post" class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label for="deptName" class="layui-form-label">
                    部门名称
                </label>
                <div class="layui-input-block">
                    <input type="text" id="title" name="title" th:value="${dept?.title}"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" placeholder="请输入部门名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    部门描述
                </label>
                <div class="layui-input-block">
                    <input type="text" id="description" name="description" th:value="${dept?.description}"
                           lay-verify="required" lay-vertype="tips" autocomplete="off" 
                           placeholder="请输入部门描述" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0;text-align:center;">
                    <input type="hidden" name="id" th:value="${dept?.id}">
                    <button class="layui-btn layui-btn-blue" th:text="${dept}?'修改':'增加'" lay-submit="" data-th-lay-filter="${dept}?'edit':'add'">增加</button>
                </div>
            </div>
        </form>
    </div>

    <th:block th:include="system/common/include :: chiron-js" />

    <script>
        layui.config({
            base: '/static/js/'
        }).use(['form', 'layer'], function () {
            var $ = layui.jquery,
                form = layui.form,
                layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name);
            $("#parentName").on("click",function(){
                $(this).toggleClass("layui-form-selected");
                $("#parentTreeDiv").toggleClass("layui-show layui-anim layui-anim-upbit");
            });
            //监听提交
            form.on('submit(add)', function (form) {
                ajaxJsonRequest("POST", '/api/dept', JSON.stringify(form.field), function (result) {
                    handlerResult(result, addDone)
                });
                return false;
            });
            //监听提交
            form.on('submit(edit)', function (form) {
                ajaxJsonRequest("PUT", '/api/dept', JSON.stringify(form.field), function (result) {
                    handlerResult(result, editDone)
                });
                return false;
            });
            function addDone(data) {
                parent.layer.close(index); 
                layer.msg("添加成功", {icon: 6});
            }
            function editDone(data) {
                parent.layer.close(index); 
                layer.msg("修改成功", {icon: 6});
            }
        });
    </script>
</body>

</html>