<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="system/common/include :: header('重置密码')" />
</head>

<body class="animated fadeIn">

    <div class="page-loading">
        <div class="rubik-loader"></div>
    </div>

    <div class="z-body animated fadeIn">
        <form action="" method="post" class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label for="password" class="layui-form-label">
                    新密码
                </label>
                <div class="layui-input-block">
                    <input type="password" id="password" name="password"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                    <input type="hidden" name="id" th:value="${id}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0;text-align:center;">
                    <button type="button"  class="layui-btn layui-btn-normal btn-w100" lay-submit="" lay-filter="reset-password">确定</button>
                </div>
            </div>
        </form>
    </div>

    <th:block th:include="system/common/include :: chiron-js" />

    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
    
            form.on('submit(reset-password)', function (form) {
                var data = form.field;
                $.post('/api/user/' + data.id + "/reset", form.field, function (result) {
                    handlerResult(result, function (data) {
                        layer.msg("重置成功", {icon: 6});
                    });
                });
                return false;
            });
        });
    </script>
</body>
</html>